<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="stylesheet.css">
</head>
<body>


<ul class="topnav" id="myTopnav">
  <li><a href="home.html">HOME</a></li>
  <li><a class="active" href="about.html">ABOUT</a></li>
  <li><a href="support.html">SUPPORT</a></li>
  <li><a href="submit.html">SUBMIT PROBLEM</a></li>
  
  <li class="icon">
    <a href="javascript:void(0);" style="font-size:15px;" onclick="myFunction()">☰</a>
  </li>
</ul>

<div id="header">
  <a href="home.html" class="logo"><img src="images/fitItlogoText.png" style="max-width:60%; height:auto;"></a><p>
  
</div>

<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>

<center><img src="images/settings_hands.png" style="width: 200px; height: 200px; margin-top: 10px; margin-bottom: -5px"></center>
<div class="sectionBox">
          <p class="sectionTitle">Our Purpose</p>
          <p class="paraFont">We would like to design and create a mobile phone application that helps users with IT problems. The application would use a “twenty questions” based system that would allow the user to narrow down their problem based on diagnosis questions asked by the application. <p class="paraFont">
          The application would have use AVL tree’s to store the questions and answers to the IT problems. Problems and solutions would be able to be added by users. The tree would be able to balance itself so that the root question is always an equivalent distance to each  solution.<p class="paraFont">
          The idea is that this would be a crowd based system that would allow users to answer questions and thus entering more nodes into the tree allowing it to grow. Our application of this system is for IT questions, since that is what we have experience in, but this sort of system could be applied to any situation that needs diagnosing, for example, automotive diagnosis, plant or animal identification, or illness diagnosis. 
</div>


<div class="sectionBox">
          <img src="images/person.png" style="width: 100px; height: 100px; margin-top: 10px; margin-left: -15px;">
          <p class="sectionTitle">Who We are</p>
          <p class="paraFont">We are a group of students fromt he University of Maine. We contain two computer science majors and two new media majors. We all have a love for computers and truly appreciate the power you hold to create with them.   
        
</div>

 <img src="images/justin.png" style="float: left">
  <img src="images/eric.png" style="float: left">
    <img src="images/connor.png" style="float: left">
      <img src="images/ashley.png" style="float: left; margin-bottom: 10px;">
<p>


<div></div>
<div id="footer">

    <p>Website &copy; Ashley Duggan Designs</p>
    </div>

</body>
</html>