body {
    background-color:#FFFFFF;
}
#header {
  background-color:#1567df;
  color:#1567df;
  padding: 5px;
  position:relative;             
}

.headerText{                    
  position:absolute;
  font-family: "Arial";
  bottom:0;
  left:200px;
  line-height:4px;
}

#header:after{                   
  content:"";
  display: table;
  clear:both;
}

.logo{
  position: relative;
  float:left;                    
  left: 10px;
  top:5px;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #1567df;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-bottom: 20px;
}

.button:hover {background-color: #4894ef}

.button:active {
  background-color: #1567df;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

p {
   font-family: "HelveticaNeue-Light";
}


h1 {
	font-family: "Helvetica Neue", Times, serif;
	font-size: 40px;
	color: white;
}

.headingfont {
  font-family: "HelveticaNeue-Thin";
  color: black;
  font-size: 20px;
}

.sectionTitle {
  font-family: "HelveticaNeue-Thin";
  color: white;
  font-size: 30px;
}
.paraTitle{
  font-family: "HelveticaNeue-Thin";
  color: black;
  font-size: 15px;
}


.paraFont{
  font-family: "HelveticaNeue-Thin";
  color: white;
  font-size: 15px;
}
.centericon{
   position: absolute;
   top: 50%;
   left: 50%;
   width: 250px;
   height: 120px;
   margin-top: -60px; /* Half the height */
   margin-left: -125px; /* Half the width */
}

.centerloader{
   position: absolute;
   top: 70%;
   left: 50%;
   width: 158px;
   height: 18px;
   margin-top: -9px; /* Half the height */
   margin-left: -79px; /* Half the width */
}

/*Start of Hamburger Menu*/
body {margin:0;}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1567df;
}

ul.topnav li {float: left;}              /*hamburger link home orientation*/

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  font-family: "HelveticaNeue-Light";
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {background-color: #1567df;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;                       /*hamburger icon orientation*/
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 70px;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: right;
  }
}

/*End of Hamburger Menu*/

.box {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    width: 150px;
    height: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

  .questionBox {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    width: 330px;
    height: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

.largebox {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    width: 345px;
    height: 300px;
    
    }    
 
.sectionBox{
    position:relative;
    min-width:345px;
    margin-bottom:10px;
    margin-right:10px;
    margin-left:10px; 
    padding:10px;
    background:#1567df;
    border-radius: 5px;
    color:white;
    font-family: "HelveticaNeue-Light";
}   
#indexFooter{
  color:white;
  font-family: "Arial";
  clear:both;
  text-align:center;
  padding:5px;
}

#footer {
  background-color:#1567df;
  color:white;
  font-family: "HelveticaNeue-Thin";
  font-size: 15px;
  clear:both;
  text-align:center;
  padding:5px;

}

